<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Conversion Tests" verbose="5" parallel="false" thread-count="1">
	<test name="CurrencyConversion Tests" parallel="false" thread-count="1">
		<classes>
			<class name="ritaja.xchangerate.ConversionTest"/>
		</classes>
	</test>
</suite>